/*  Шрифты
font-family: 'PoppinsBlack';
font-family: 'PoppinsExtraBold';
font-family: 'PoppinsBold';
font-family: 'PoppinsSemiBold';
font-family: 'PoppinsMedium';
font-family: 'PoppinsRegular';
font-family: 'PoppinsLight';
font-family: 'PoppinsExtraLight';
font-family: 'PoppinsThin';
*/
/* Обнуление */
 * {
  /* outline: solid 2px red; */
  /* overflow-x:hidden; */
} 
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
img {
  display: block;
}
h1, h2, h3, h4, h5, h6, p, ul, li, a {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
/* Переменные с цветами */
:root {
  --darck-color: #263238;
  --white-color: #fff;
  --gray-color: #8F95A5;
}
/* Стили для текста */
.text_h1 {
  font-family: 'PoppinsSemiBold';
  font-size: 64px;
  line-height: 80px;
  color: #000;
}
.text_h2 {
  font-family: 'PoppinsSemiBold';
  font-size: 48px;
  line-height: 80px;
  color: #000;
}
.text_h3 {
  font-family: 'PoppinsSemiBold';
  font-size: 30px;
  line-height: 30px;
  color: var(--darck-color);
}
.text_p {
  font-family: 'PoppinsRegular';
  font-size: 20px;
  color: var(--gray-color);
}
/* Стили для кнопки */
.btn {
  width: 218px;
  height: 60px;
  background-color: var(--darck-color);
  color: var(--white-color);
  padding: 15px 51px;
  font-family: 'PoppinsMedium';
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
/* Контэйнер */
.container {
  max-width: 1340px;
  margin: 0 auto;
}
/* Header */
.header {
  padding-top: 50px;
  padding-bottom: 48px;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
}
.header__logo {
  width: 106px;
}
.header__menu {
  display: flex;
  list-style: none;
}
.header__menu_item {
  font-family: 'PoppinsMedium';
  font-size: 20px;
  color: var(--darck-color);
  padding-right: 37px;
  cursor: pointer;
}
.header__menu_item:last-child {
  padding-right: 0;
}
.header__navbar_btn {
  width: 220px;
  height: 70px;
  border-radius: 5px;
  border: solid 2px --darck-color;
  background-color: var(--white-color);
  font-family: 'PoppinsRegular';
  font-size: 24px;
  color: #000;
  margin-top: 4px;
  cursor: pointer;
}
.header__burger {
  display: none;    
}
.header__flex {
  display: flex;
}
.header__title_flex {
  display: flex;
  margin-top: 50px;
  margin-bottom: 41px;
}
.header__title {  
  max-width: 386px;
}
.header__title_img {
  width: 85.24px;
  height: 85.24px;
  transform: rotate(38.44deg);
  margin-left: 55px;
  margin-top: 111px;
}
.header__text {
  max-width: 532px;
  font-size: 24px;
  margin-bottom: 62px;
}
.header__btn {
  width: 438px;
  height: 118px;
  border-radius: 15px;
  font-family: 'PoppinsRegular';
  font-size: 36px;
}
.header__img {
  background-image: url(../img/ferst_screen.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 150px;
  min-width: 661px;
  max-width: 661px;
}
/* Skills */
.skills {
  padding-top: 103px;
  padding-bottom: 282px;
}
.skills__title {
  text-align: center;
  margin-bottom: 92px;
}
.skills__grid {
  display: grid;
  gap: 20px 18px;
  grid-template-areas:
  "speaking writing reading"
  "speaking listening listening";
}
.speaking {
  grid-area: speaking;
}
.writing {
  grid-area: writing;
}
.reading {
  grid-area: reading;
}
.listening {
  grid-area: listening;  
}
.skills__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.speaking .skills__card_img {
  background-image: url(../img/skills_1.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 390px;
  min-height: 390px; 
  margin: 41px 0px 29px 20px;
}
.speaking .skills_card_content{
  max-width: 398px;
}
.speaking .skills__card_title {
  margin-left: 41px;
  margin-bottom: 28px;
}
.speaking .skills__text {  
  margin-left: 41px;
  margin-bottom: 27px;
}
.speaking .skills__text br:last-child {
  display: none;
}
.speaking .skills__btn {
  margin-left: 41px;
  width: 230px;
  height: 60px;
  font-size: 18px;
  margin-bottom: 92px;
}
.writing .skills__card_img {
  background-image: url(../img/skills_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 293px;
  min-height: 293px;
  margin: 0px 0 -11px 125px;
}
.writing .skills_card_content{
  max-width: 406px;
}
.writing .skills__card_title {  
  margin-left: 44px;  
  margin-bottom: 14px;
}
.writing .skills__text {
  margin-left: 44px;  
  margin-bottom: 32px;
}
.writing .skills__btn {
  margin-left: 44px;  
  margin-bottom: 0;
}
.reading .skills__card_img {
  background-image: url(../img/skills_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 371px;
  min-height: 247px;
  margin: 13px 0 25px 5px;
}
.reading .skills_card_content {
  max-width: 411px;
}
.reading .skills__card_title {
  margin-left: 44px;
}
.reading .skills__card_title {
  margin-bottom: 8px;
}
.reading .skills__text {
  margin-left: 44px;
  margin-bottom: 34px;
}
.reading .skills__btn {
  margin-left: 44px;
  margin-bottom: 0;
}
.listening {
  flex-direction: row;
}
.listening .skills__card_img {
  background-image: url(../img/skills_4.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 382px;
  max-height: 255px;
  order: 1;
  margin: 50px 0 0 66px;
}
.listening .skills_card_content{  
  max-width: 390px;
  min-height: 307px;
}
.listening .skills__card_title {
  margin: 74px 0 16px 52px;
}
.listening .skills__text {
  margin-left: 52px;
  margin-bottom: 23px;
}
.listening .skills__btn {
  margin-left: 48px;
  margin-bottom: 0;
}
.skills__card_img {

}
.skills_card_content {

}
.skills__img {
}
.skills__card_title {
}
.skills__text {
  font-size: 16px;
}
.skills__btn {
}


/* Меди запросы 992 */
@media screen and (max-width:992px) {
  /* Контейнер */
  .container {
    max-width: 932px;
  }
  /* Стили для текста */
  .text_h1 {
    font-size: 48px;
    line-height: 64px;
  }
  .text_h2 {
    font-size: 36px;
  }
  .text_h3 {
    font-size: 22px;
  }
  /* стили для кнопки */
  .btn {
    width: 196px;
    height: 57px;
    font-size: 16px;
  }
  /* Header */
  .header {
    padding-top: 25px;
  }
  .header__logo {
    width: 89px;
  }
  .header__menu {
    margin-left: 60px;
  }
  .header__menu_item
  {
    margin-top: 12px;
    font-size: 16px;
  }
  .header__navbar {
    margin-bottom: 30px;
  }
  .header__navbar_btn {
    width: 160px;
    height: 50px;
    font-size: 18px;
    margin-top: 1px;
  }
  .header__menu_item {
    padding-right: 30px;
  }
  .header__menu_item:last-child {
    padding-right: 0;
  }
  .header__title {
    min-width: 290px;
    max-width: 290px;
  }
  .header__title_img {
    width: 58.71px;
    height: 58.71px;
    margin-left: 22px;
    margin-top: 101px;
  }
  .header__title_flex {
    margin-bottom: 27px;
  }
  .header__text {
    font-size: 20px;
    max-width: 473px;
    margin-bottom: 32px;
  }
  .header__btn {
    width: 292px;
    height: 80px;
    font-size: 24px;
    border-radius: 5px;
  }
  .header__img {
    min-width: 460px;
    max-width: 460px;
    margin-left: 0;
    margin-top: 37px;
  }
  /* Skills */
  .skills {
    padding-top: 28px;
    padding-bottom: 282px;
  }
  .skills__title {
    margin-bottom: 52px;
  }
  .skills__grid {
    display: grid;
    gap: 13px 13px;
    grid-template-areas:
    "speaking writing reading"
    "speaking listening listening";
  }
  .speaking .skills__card_img {
    margin: 0px 3px 26px 24px;    
    max-width: 260px;
    min-height: 260px;
  }  
  .speaking .skills_card_content{ 
    min-width: 306px;
   
  }
  .speaking .skills__card_title {
    margin-left: 31px;
    margin-bottom: 16px;
  }
  .speaking .skills__text {   
    max-width: 258px;
    margin-left: 31px;
    margin-bottom: 23px;
  }
  .speaking .skills__text br:last-child {
    display: block;
  }
  .speaking .skills__btn {
    margin-left: 30px;
    width: 196px;
    height: 57px;
    font-size: 16px;
    margin-bottom: 49px;
  }
  .writing .skills__card_img {
    max-width: 205px;
    min-height: 205px;
    margin: 6px 0px -5px 85px;
  }
  .writing .skills_card_content{
    max-width: 300px;
    min-width: 296px;
  }
  .writing .skills__card_title {
    margin-left: 27px;
    margin-bottom: 12px;
  }
  .writing .skills__text {
    margin-left: 27px;
    width: 244px;
    margin-bottom: 22px;
  }
  .writing .skills__btn {
    margin-left: 27px;
    margin-bottom: 35px;
  }
  .reading .skills__card_img {
    max-width: 243px;
    min-height: 162px;
    margin: 15px 0px 29px 4px;
  }
  .reading .skills_card_content{
    min-width: 300px;
  }
  .reading .skills__card_title {
    margin-left: 27px;
    margin-bottom: 8px;
  }
  .reading .skills__text {
    margin-left: 27px;
    max-width: 247px;
    margin-bottom: 24px;
  }
  .reading .skills__btn {
    margin-left: 28px;
    margin-bottom: 0;
  }
  .listening {
    flex-direction: row;
  }
  .listening .skills__card_img {
    order: 1;
    margin: 31px 0 0 25px;
    min-width: 254px;
    max-height: 169px;
  }
  .listening .skills_card_content{
    max-width: 331px;
    min-height: 239px;
  }
  .listening .skills__card_title {
    margin: 24px 0 16px 27px;
    margin-bottom: 12px;
  }
  .listening .skills__text {
    margin-left: 31px;
    margin-bottom: 16px;
  }
  .listening .skills__btn {
    margin-left: 27px;
    margin-bottom: 0;
  }
  .skills__card_img {

  }
  .skills_card_content {

  }
  .skills__img {
  }
  .skills__card_title {
  }
  .skills__text {
    font-size: 14px;
  }
  .skills__btn {
  }

}
/* Меди запросы 767 */
@media screen and (max-width:767px) {
  /* Контейнер */
  .container {
    max-width: 690px;
  }
  /* Стили для текста */
  .text_h1 {
    font-size: 36px;
    line-height: 45px;
  }
  .text_h2 {
    font-size: 30px;
  }
  .text_h3 {
    font-size: 20px;
  }
  /* стили для кнопки */
  .btn {
    width: 178px;
    height: 50px;
    font-size: 13px;
  }
  /* Header */
  .header__burger {
    padding-bottom: 18px;
    width: 30px;
    display: block;    
    cursor: pointer;
  }
  .header__burger_line {
    background-color: var(--darck-color);
    height: 3px;
    border-radius: 1px;
    margin-bottom: 4px;
  }
  .header__burger_line:last-child {
    width: 70%;
    margin-bottom: 0;
  }
  .header {
    padding-top: 44px;
  }
  .header__logo {
    width: 89px;
  }
  .header__menu {
    display: none;
  }  
  .header__navbar {
    margin-bottom: 22px;
  }
  .header__navbar_btn {
    display: none;
  }  
  .header__title {
    min-width: 217px;
    max-width: 217px;
  }
  .header__title_img {
    width: 50.95px;
    height: 50.95px;
    margin-left: 10px;
    margin-top: 78px;
  }
  .header__title_flex {
    margin-bottom: 25px;
  }
  .header__text {
    font-size: 16px;
    max-width: 333px;
    margin-bottom: 29px;
  }
  .header__btn {
    width: 236px;
    height: 65px;
    font-size: 18px;
    border-radius: 5px;
  }
  .header__img {
    max-width: 330px;
    min-width: 330px;
    margin-left: 23px;
    margin-top: 0;
  }
  /* Skills */
  .skills {
    padding-top: 13px;
    padding-bottom: 282px;
  }
  .skills__title {
    margin-bottom: 35px;
  }
  .skills__grid {
    display: grid;
    gap: 10px 10px;
    grid-template-areas:
    "speaking writing reading"
    "speaking listening listening";
  }
  .speaking .skills__card_img {
    margin: 31px 0px 27px 1px;    
    max-width: 214px;
    min-height: 214px;
  }  
  .speaking .skills_card_content{ 
    min-width: 223px;
   
  }
  .speaking .skills__card_title {
    margin-left: 17px;
    margin-bottom: 12px;
  }
  .speaking .skills__text {   
    max-width: 188px;
    margin-left: 17px;
    margin-bottom: 21px;
  }
  .speaking .skills__text br:last-child {
    display: block;
  }
  .speaking .skills__btn {
    margin-left: 17px;
    width: 178px;
    height: 50px;
    font-size: 13px;
    margin-bottom: 37px;
  }
  .writing .skills__card_img {
    max-width: 200px;
    min-height: 200px;
    margin: 15px 0px -7px 4px;
  }
  .writing .skills_card_content{
    max-width: 228px;
    min-width: 228px;
  }
  .writing .skills__card_title {
    margin-left: 17px;
    margin-bottom: 9px;
  }
  .writing .skills__text {
    margin-left: 20px;
    max-width: 187px;
    margin-bottom: 18px;
  }
  .writing .skills__btn {
    margin-left: 17px;
    margin-bottom: 27px;
  }
  .reading .skills__card_img {
    max-width: 216px;
    min-height: 144px;
    margin: 34px 0px 25px -3px;
  }
  .reading .skills_card_content{
    min-width: 227px;
  }
  .reading .skills__card_title {
    margin-left: 17px;
    margin-bottom: 8px;
  }
  .reading .skills__text {
    margin-left: 17px;
    max-width: 193px;
    margin-bottom: 23px;
  }
  .reading .skills__btn {
    margin-left: 20px;
    margin-bottom: 0;
  }
  .listening {
    flex-direction: row;
  }
  .listening .skills__card_img {
    order: 1;
    margin: 59px 0 0 -21px;
    min-width: 202px;
    max-height: 134px;
  }
  .listening .skills_card_content{
    max-width: 280px;
    min-height: 210px;
  }
  .listening .skills__card_title {
    margin: 22px 0 7px 23px;
  }
  .listening .skills__text {
    margin-left: 23px;
    margin-bottom: 15px;
  }
  .listening .skills__btn {
    margin-left: 22px;
    margin-bottom: 0;
  }
  .skills__card_img {

  }
  .skills_card_content {

  }
  .skills__img {
  }
  .skills__card_title {
  }
  .skills__text {
    font-size: 13px;
  }
  .skills__btn {
  }
}
/* Меди запросы 575 */
@media screen and (max-width:575px) {
  /* Контейнер */
  .container {
    max-width: 511px;
  }
  /* Стили для текста */
  .text_h1 {
    font-size: 34px;
  }
  .text_h2 {
    font-size: 30px;
  }
  .text_h3 {
    font-size:18px;
  }
  /* стили для кнопки */
  .btn {
    width: 200px;
    height: 50px;
    font-size: 13px;
  }
  /* Header */
  .header__burger {
    padding-bottom: 0;
    margin-right: 18px;
    width: 42.35px;
    display: block;    
  }
  .header__burger_line {
    background-color: var(--darck-color);
    height: 4.24px;
    border-radius: 1px;
    margin-bottom: 5.65px;
  }  
  .header {
    padding-top: 50px;
    padding-bottom: 84px;
} 
    .header__navbar {
      margin-bottom: 22px;
    align-items: center;
  }
  .header__flex {
    flex-direction: column-reverse;
  }  
  .header__title_flex {
    display: block;
  }
  .header__title_flex {
    margin-top: 0;
  }
  .header__title {
    min-width: 491px;
    max-width: 491px;
    margin: 0 auto;
  }
  .header__title br {
    display: none;
  }
  .header__title_img {
    display: none;
  }
  .header__title_flex {
    margin-bottom: 25px;
  }
  .header__text {
    font-size: 16px;
    max-width: 545px;
    text-align: center;
    margin: 0 auto 37px;
  }
  .header__btn {
    display: block;
    width: 305px;
    height: 75px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
  }
  .header__img {
    max-width: 424px;
    min-width: 424px;
    min-height: 424px;
    margin: 0 auto 14px;
  }
  /* Skills */
  .skills {
    padding-top: 13px;
    padding-bottom: 282px;
  }
  .skills__title {
    margin-bottom: 33px;
    margin-left: 12px;
  }
  .skills__grid {
    display: grid;
    gap: 34px 32px;
    grid-template-areas:
    "speaking writing"
    "reading listening";
  }
  .speaking .skills__card_img {
    margin: -8px 0px 10px 9px;    
    max-width: 185px;
    min-height: 185px;
  }  
  .speaking .skills_card_content{ 
    min-width: 241px;
   
  }
  .speaking .skills__card_title {
    margin-left: 16px;
    margin-bottom: 9px;
  }
  .speaking .skills__text {   
    max-width: 191px;
    margin-left: 16px;
    margin-bottom: 24px;
  }
  .speaking .skills__text br:last-child {
    display: block;
  }
  .speaking .skills__btn {
    margin-left: 16px;
    width: 200px;
    height: 50px;
    font-size: 13px;
    margin-bottom: 37px;
  }
  .writing .skills__card_img {
    max-width: 182px;
    min-height: 182px;
    margin: 5px 0px 6px 21px;
  }
  .writing .skills_card_content{
    max-width: 228px;
    min-width: 228px;
  }
  .writing .skills__card_title {
    margin-left: 17px;
    margin-bottom: 4px;
  }
  .writing .skills__text {
    margin-left: 19px;
    max-width: 174px;
    margin-bottom: 131px;
  }
  .writing .skills__btn {
    margin-left: 14px;
    margin-bottom: 27px;
  }
  .reading .skills__card_img {
    max-width: 198px;
    min-height: 132px;
    margin: 29px 0px 25px -1px;
  }
  .reading .skills_card_content{
    min-width: 227px;
  }
  .reading .skills__card_title {
    margin-left: 16px;
    margin-bottom: 12px;
  }
  .reading .skills__text {
    margin-left: 17px;
    max-width: 185px;
    margin-bottom: 119px;  
    font-size: 13px;  
  }
  .reading .skills__btn {
    margin-left: 16px;
    margin-bottom: 36px;
  }
  .listening {
    flex-direction: column;
  }
  .listening .skills__card_img {
    order: 0;
    margin: 37px 0 18px 12px;
    max-width: 206px;
    min-height: 137px;
  }
  .listening .skills_card_content{
    max-width: 234px;
    min-height: 190px;
  }
  .listening .skills__card_title {
    margin: 0 0 8px 19px;
  }
  .listening .skills__text {
    margin-left: 21px;
    margin-bottom: 137px;
    font-size: 13px;
  }
  .listening .skills__btn {
    margin-left: 16px;
    margin-bottom: 0;
  }
  .skills__card_img {

  }
  .skills_card_content {

  }
  .skills__img {
  }
  .skills__card_title {
  }
  .skills__text {
    font-size: 12px;
  }
  .skills__btn {
  }
}
/* Меди запросы 320 */
@media screen and (max-width:320px) {
  /* Контейнер */
  .container {
    max-width: 296px;
  }
  /* Стили для текста */
  .text_h1 {
    font-size: 24px;
    line-height: 36px;
  }  
  .text_h2 {
    font-size: 24px;
  }
  .text_h3 {
    font-size:18px;
  }
  /* стили для кнопки */
  .btn {
    width: 178px;
    height: 50px;
    font-size: 13px;
  }
  /* Header */
  .header__burger {
    padding-bottom: 0;
    margin-top: 3px;
    margin-right: 4px;
    width: 33.53px;
    display: block;    
  }
  .header__burger_line {
    height: 3.35px;
    margin-bottom: 4.47px;
  }  
  .header {
    padding-top: 43px;
    padding-bottom: 38px;
  }
  
  .header__navbar {
    margin-bottom: 39px;
  }
  .header__logo {
    margin-left: 3px;
    width: 71px;
    height: 100%;
  }
  .header__flex {
    flex-direction: column-reverse;
  }  
  .header__title_flex {
    display: block;
  }
  .header__title_flex {
    margin-top: 0;
  }
  .header__title {
    text-align: center;
    min-width: 220px;
    max-width: 220px;
    margin: 0 auto;
  }
  .header__title_img {
    display: none;
  }
  .header__title_flex {
    margin-bottom: 21px;
  }
  .header__text {
    font-size: 14px;
    max-width: 545px;
    text-align: center;
    margin: 0 auto 35px;
  }
  .header__btn {
    display: block;
    width: 289px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
  }
  .header__img {
    max-width: 295px;
    min-width: 295px;
    min-height: 295px;
    margin: 0 auto 16px;
  }
  /* Skills */
  .skills {
    padding-top: 13px;
    padding-bottom: 282px;
  }
  .skills__title {
    margin-bottom: 33px;
    margin-left: 12px;
  }
  .skills__grid {
    display: grid;
    gap: 21px 21px;
    grid-template-areas:
    "speaking"
    "writing"
    "reading"
    "listening";
  }
  .speaking .skills__card_img {
    margin: 7px 0px 35px 42px;    
    max-width: 213px;
    min-height: 213px;
  }  
  .speaking .skills_card_content{ 
    min-width: 241px;
   
  }
  .speaking .skills__card_title {
    margin-left: 16px;
    margin-bottom: 8px;
  }
  .speaking .skills__text {   
    max-width: 261px;
    margin-left: 19px;
    margin-bottom: 31px;
  }
  .speaking .skills__text br:last-child {
    display: block;
  }
  .speaking .skills__btn {
    margin-left: 19px;
    width: 178px;
    height: 50px;
    font-size: 13px;
    margin-bottom: 46px;
  }
  .writing .skills__card_img {
    max-width: 204px;
    min-height: 204px;
    margin: 15px 0px 36px 48px;
  }
  .writing .skills_card_content{
    max-width: 239px;
    min-width: 239px;
  }
  .writing .skills__card_title {
    margin-left: 17px;
    margin-bottom: 10px;
  }
  .writing .skills__text {
    margin-left: 19px;
    max-width: 239px;
    margin-bottom: 32px;
    font-size: 11.2px;
  }
  .writing .skills__btn {
    margin-left: 17px;
    margin-bottom: 44px;
  }
  .reading .skills__card_img {
    max-width: 236px;
    min-height: 157px;
    margin: 29px 0px 45px 33px;
  }
  .reading .skills_card_content{
    min-width: 227px;
  }
  .reading .skills__card_title {
    margin-left: 18px;
    margin-bottom: 8px;
  }
  .reading .skills__text {
    margin-left: 19px;
    max-width: 224px;
    margin-bottom: 30px;  
    font-size: 13px;  
  }
  .reading .skills__btn {
    margin-left: 17px;
    margin-bottom: 44px;
  }
  .listening {
    flex-direction: column;
  }
  .listening .skills__card_img {
    order: 0;
    margin: 33px 0 44px 35px;
    max-width: 232px;
    min-height: 154px;
  }
  .listening .skills_card_content{
    max-width: 270px;
    min-height: 190px;
  }
  .listening .skills__card_title {
    margin: 0 0 8px 20px;
  }
  .listening .skills__text {
    margin-left: 21px;
    margin-bottom: 37px;
    font-size: 13px;
  }
  .listening .skills__btn {
    margin-left: 19px;
    margin-bottom: 57px;
  }
  .skills__card_img {

  }
  .skills_card_content {

  }
  .skills__img {
  }
  .skills__card_title {
  }
  .skills__text {
    font-size: 13px;
  }
  .skills__btn {
  }
}
}
