  /*  Шрифты
font-family: 'PoppinsBlack';
font-family: 'PoppinsExtraBold';
font-family: 'PoppinsBold';
font-family: 'PoppinsSemiBold';
font-family: 'PoppinsMedium';
font-family: 'PoppinsRegular';
font-family: 'PoppinsLight';
font-family: 'PoppinsExtraLight';
font-family: 'PoppinsThin';
*/
/* Обнуление */
 * {
  /* outline: solid 2px red;  */
  /* overflow-x:hidden;  */
} 
html {
 box-sizing: border-box;
}
*, *::before, *::after {
 box-sizing: inherit;
}
img {
 display: block;
}
h1, h2, h3, h4, h5, h6, p, ul, li, a {
 padding: 0;
 margin: 0;
}
body {
 margin: 0;
 padding: 0;
}
/* Переменные с цветами */
:root {
 --darck-color: #263238;
 --white-color: #fff;
 --gray-color: #8F95A5;
}
/* Стили для текста */
.text_h1 {
 font-family: 'PoppinsSemiBold';
 font-size: 64px;
 line-height: 80px;
 color: #000;
}
.text_h2 {
 font-family: 'PoppinsSemiBold';
 font-size: 48px;
 color: #000;
}
.text_h3 {
 font-family: 'PoppinsSemiBold';
 font-size: 30px;
 line-height: 30px;
 color: var(--darck-color);
}
.text_p {
 font-family: 'PoppinsRegular';
 font-size: 20px;
 color: var(--gray-color);
}
/* Стили для кнопки */
.btn {
 width: 218px;
 height: 60px;
 background-color: var(--darck-color);
 color: var(--white-color);
 padding: 15px 51px;
 font-family: 'PoppinsMedium';
 font-size: 20px;
 border-radius: 5px;
 border: none;
 cursor: pointer;
}
/* Контэйнер */
.container {
 max-width: 1340px;
 margin: 0 auto;
}
/* Header */
.header {
}
/* Navbar */
.header__navbar {
  padding-top: 55px;  
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header__logo {
    width: 105px;
}
.header__menu {
  display: flex;
  justify-content: center;
  font-family: 'PoppinsMedium';
}
.header__menu_item {
  margin-right: 40px;
  list-style: none;
  font-size: 20px;
  color: var(--darck-color);
}
.header__menu_item:last-child {
  margin-right: 0;
}
.header__navbar_btn {
  width: 220px;
  height: 70px;
  color: var(--darck-color);
  background-color: var(--white-color);
  border: solid  2px var(--darck-color);
  border-radius: 5px;
  font-family: 'PoppinsRegular';
  font-size: 24px;
  
}
.header__burger {
  display: none;
}
.header__burger_line {
}
/* Ferstscreen */
.header__ferstscreen {
}
.header__flex {
  display: flex;
}
.header__flex_item-left {
  margin-right: 108px;
}
.header__flex_item-right{
  padding-top: 50px;
  margin-right: 0;
}
.header__title_flex {
  display: flex;
  padding-top: 101px;
}
.header__title {
  max-width: 386px;
  margin-right: 54px;
  margin-bottom: 43px;
}
.header__title_img {  
  padding-top: 109px;  
}
.header__title_img img {  
  width: 85.24px;
  height: 85.24px;  
  transform: rotate(38.44deg);
}
.header__text {
  font-size: 24px;
  line-height: 34px;
  max-width: 570px;
  margin-bottom: 64px;
}
.header__btn {
  width: 439px;
  height: 118px;
  border-radius: 15px;
  font-size: 36px;
}
.header__img {
  background-image: url(../img/ferst_screen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 8px 0;
  width: 661px;
  min-height: 661px;
}
/* Skills */
.skills {
}
.skills__title {
  padding-top: 117px;
  text-align: center;
  margin-bottom: 108px;
}
.skills__grid {
  display: grid;
  gap: 20px 18px;
  grid-template-areas:
  "speaking writing reading"
  "speaking listening listening";
  margin-bottom: 100px;
}
.speaking {
  grid-area: speaking;
}
.writing {
  grid-area: writing;
}
.reading {
  grid-area: reading;
}
.listening {
  grid-area: listening;  
}
.skills__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.skills__text {
  font-size: 16px;
  line-height: 24px;
}
.speaking {
  padding-top: 35px;  
  padding-left: 40px;
}
.speaking .skills__card_img {
  background-image: url(../img/skills_1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -20px 0;
  max-width: 390px;
  min-height: 390px;
  margin-bottom: 29px;
}
.speaking .skills_card_content {
  margin-right: 0;
}
.speaking .skills__card_title {
  margin-bottom: 29px;
}
.speaking .skills__text {
  max-width: 341px;
  margin-bottom: 37px;
}
.speaking .skills__btn {
  width: 230px;
  margin-bottom: 97px;
}
.writing {
  padding-left: 42px;  
}
.writing .skills__card_img {
  background-image: url(../img/skills_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 11px 0;
  max-width: 293px;
  min-height: 293px;
  margin-bottom: -16px;
  margin-left: 70px;
}
.writing .skills_card_content {
}
.writing .skills__card_title {
  margin-bottom: 14px;
}
.writing .skills__text {
  max-width: 341px;
  margin-bottom: 32px;
}
.writing .skills__btn {
}
.reading {
  padding-top: 8px;
  padding-left: 35px;
}
.reading .skills__card_img {
  background-image: url(../img/skills_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -34px 0;
  max-width: 371px;
  min-height: 247px;
  margin-bottom: 25px;
}
.reading .skills_card_content {
}
.reading .skills__card_title {
  padding-left: 7px;
  margin-bottom: 12px;
}
.reading .skills__text {
  max-width: 354px;
  margin-bottom: 33px;
}
.reading .skills__btn {
  margin-bottom: 7px;
}
.listening {
  flex-direction: row;
  padding-top: 51px;
  padding-left: 49px;
}
.listening .skills__card_img {
  background-image: url(../img/skills_4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 -7px;
  order: 1;
  max-width: 382px;
  width: 100%;
  min-height: 255px;
}
.listening .skills_card_content {
  margin-right: 92px;
  
}
.listening .skills__card_title {
  padding-top: 16px;
  margin-bottom: 17px;
}
.listening .skills__text {
  max-width: 338px;
  margin-bottom: 26px;
}
.listening .skills__btn {
}
/* About */
.about {
}
.about__grid {  
  padding-top: 153px;
  display: grid;
  gap: 0;
  grid-template:   
  "about__title about__img" 90px
  "about__content about__img";
}
.about__title {
  grid-area: about__title; 
  padding-top: 38px;
  max-height: 48px;
  margin-bottom: 0;   
}
.about__content {
  grid-area: about__content;
  max-width: 635px;
  margin-right: 185px;
}
.about__text {  
  padding-top: 36px;
  line-height: 30px;
  margin-bottom: 52px;   
}
.about__content_flex {
  display: flex;
  justify-content: space-between;

}
.about__card:last-child {
  margin-right: 22px;
}
.about__card_number {
  font-family: 'PoppinsSemiBold';
  font-size: 48px;
  text-align: center;
  margin-bottom: 15px;
}
.about__card_text {
  text-align: center;
}
.about__img {
  grid-area: about__img;
  background-image: url(../img/about.png);
  background-position: 0 -7px;
  max-width: 500px;
  width: 500px;
  min-height: 500px;
}
