  /*  Шрифты
font-family: 'PoppinsBlack';
font-family: 'PoppinsExtraBold';
font-family: 'PoppinsBold';
font-family: 'PoppinsSemiBold';
font-family: 'PoppinsMedium';
font-family: 'PoppinsRegular';
font-family: 'PoppinsLight';
font-family: 'PoppinsExtraLight';
font-family: 'PoppinsThin';
*/
/* Обнуление */
 
html {
 box-sizing: border-box;
}
*, *::before, *::after {
 box-sizing: inherit;
}
img {
 display: block;
}
h1, h2, h3, h4, h5, h6, p, ul, li, a {
 padding: 0;
 margin: 0;
}
body {
 margin: 0;
 padding: 0;
}
/* Переменные с цветами */
:root {
 --darck-color: #263238;
 --white-color: #fff;
 --gray-color: #8F95A5;
}
/* Стили для текста */
.text_h1 {
 font-family: 'PoppinsSemiBold';
 font-size: 64px;
 line-height: 80px;
 color: #000;
}
.text_h2 {
 font-family: 'PoppinsSemiBold';
 font-size: 48px;
 color: #000;
}
.text_h3 {
 font-family: 'PoppinsSemiBold';
 font-size: 30px;
 line-height: 30px;
 color: var(--darck-color);
}
.text_p {
 font-family: 'PoppinsRegular';
 font-size: 20px;
 color: var(--gray-color);
}
/* Стили для кнопки */
.btn {
 width: 218px;
 height: 60px;
 background-color: var(--darck-color);
 color: var(--white-color);
 padding: 15px 51px;
 font-family: 'PoppinsMedium';
 font-size: 20px;
 border-radius: 5px;
 border: none;
 cursor: pointer;
}
/* Контэйнер */
.container {
 max-width: 1340px;
 margin: 0 auto;
}
/* Header */

/* Navbar */
.header__navbar {
  padding-top: 55px;  
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header__logo {
    width: 105px;
}
.header__menu {
  display: flex;
  justify-content: center;
  font-family: 'PoppinsMedium';
}
.header__menu_item {
  margin-right: 40px;
  list-style: none;
  font-size: 20px;
  color: var(--darck-color);
}
.header__menu_item:last-child {
  margin-right: 0;
}
.header__navbar_btn {
  width: 220px;
  height: 70px;
  color: var(--darck-color);
  background-color: var(--white-color);
  border: solid  2px var(--darck-color);
  border-radius: 5px;
  font-family: 'PoppinsRegular';
  font-size: 24px;  
}
.header__burger {
  display: none;
}

/* Ferstscreen */
.header__flex {
  display: flex;
}
.header__flex_item-left {
  margin-right: 108px;
}
.header__flex_item-right{
  padding-top: 50px;
  margin-right: 0;
}
.header__title_flex {
  display: flex;
  padding-top: 101px;
}
.header__title {
  max-width: 386px;
  margin-right: 54px;
  margin-bottom: 43px;
}
.header__title_img {  
  padding-top: 109px;  
}
.header__title_img img {  
  width: 85.24px;
  height: 85.24px;  
  transform: rotate(38.44deg);
}
.header__text {
  font-size: 24px;
  line-height: 34px;
  max-width: 570px;
  margin-bottom: 64px;
}
.header__btn {
  width: 439px;
  height: 118px;
  border-radius: 15px;
  font-size: 36px;
}
.header__img {
  background-image: url(../img/ferst_screen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 8px 0;
  width: 661px;
  min-height: 661px;
}
/* Skills */

.skills__title {
  padding-top: 117px;
  text-align: center;
  margin-bottom: 108px;
}
.skills__grid {
  display: grid;
  gap: 20px 18px;
  grid-template-areas:
  "speaking writing reading"
  "speaking listening listening";
  margin-bottom: 100px;
}
.speaking {
  grid-area: speaking;
}
.writing {
  grid-area: writing;
}
.reading {
  grid-area: reading;
}
.listening {
  grid-area: listening;  
}
.skills__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.skills__text {
  font-size: 16px;
  line-height: 24px;
}
.speaking {
  padding-top: 35px;  
  padding-left: 40px;
}
.speaking .skills__card_img {
  background-image: url(../img/skills_1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -20px 0;
  max-width: 390px;
  min-height: 390px;
  margin-bottom: 29px;
}
.speaking .skills_card_content {
  margin-right: 0;
}
.speaking .skills__card_title {
  margin-bottom: 29px;
}
.speaking .skills__text {
  max-width: 341px;
  margin-bottom: 37px;
}
.speaking .skills__btn {
  width: 230px;
  margin-bottom: 97px;
}
.writing {
  padding-left: 42px;  
}
.writing .skills__card_img {
  background-image: url(../img/skills_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 11px 0;
  max-width: 293px;
  min-height: 293px;
  margin-bottom: -16px;
  margin-left: 70px;
}
.writing .skills__card_title {
  margin-bottom: 14px;
}
.writing .skills__text {
  max-width: 341px;
  margin-bottom: 32px;
}
.reading {
  padding-top: 8px;
  padding-left: 35px;
}
.reading .skills__card_img {
  background-image: url(../img/skills_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -34px 0;
  max-width: 371px;
  min-height: 247px;
  margin-bottom: 25px;
}
.reading .skills__card_title {
  padding-left: 7px;
  margin-bottom: 12px;
}
.reading .skills__text {
  max-width: 354px;
  margin-bottom: 33px;
}
.reading .skills__btn {
  margin-bottom: 7px;
}
.listening {
  flex-direction: row;
  padding-top: 51px;
  padding-left: 49px;
}
.listening .skills__card_img {
  background-image: url(../img/skills_4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 -7px;
  order: 1;
  max-width: 382px;
  width: 100%;
  min-height: 255px;
}
.listening .skills_card_content {
  margin-right: 92px;
  
}
.listening .skills__card_title {
  padding-top: 16px;
  margin-bottom: 17px;
}
.listening .skills__text {
  max-width: 338px;
  margin-bottom: 26px;
}
/* About */

.about__grid {  
  padding-top: 153px;
  display: grid;
  gap: 0;
  grid-template:   
  "about__title about__img" 90px
  "about__content about__img";
}
.about__title {
  grid-area: about__title; 
  padding-top: 38px;
  max-height: 48px;
  margin-bottom: 0;   
}
.about__content {
  grid-area: about__content;
  max-width: 635px;
  margin-right: 185px;
}
.about__text {  
  padding-top: 36px;
  line-height: 30px;
  margin-bottom: 52px;   
}
.about__content_flex {
  display: flex;
  justify-content: space-between;

}
.about__card:last-child {
  margin-right: 22px;
}
.about__card_number {
  font-family: 'PoppinsSemiBold';
  font-size: 48px;
  text-align: center;
  margin-bottom: 15px;
}
.about__card_text {
  text-align: center;
}
.about__img {
  grid-area: about__img;
  background-image: url(../img/about.png);
  background-position: 0 -7px;
  max-width: 500px;
  width: 500px;
  min-height: 500px;
}

/* Меди запросы 992 */
@media screen and (max-width:992px) {
  /* Контейнер */
  .container {
    max-width: 932px;
  }
  /* Стили для текста */
  .text_h1 {
    font-size: 48px;
    line-height: 64px;
  }
  .text_h2 {
    font-size: 36px;
  }
  .text_h3 {
    font-size: 22px;
  }
  .text_p {
    font-size: 16px;
  }
  /* стили для кнопки */
  .btn {
    width: 196px;
    height: 57px;
    font-size: 16px;
  }
  /* Header */
  
  /* Navbar */
  
  .header__navbar {
    align-items: center;
    padding-top: 26px;
  }
  .header__logo {
    width: 89px;
    margin-right: 66px;
  }
  .header__menu_item {
    font-size: 16px;
    margin-right: 31px;
    padding-top: 12px;
  }
  .header__navbar_btn {
    width: 160px;
    height: 50px;
    font-size: 18px;
  }

  /* Ferstscreen */

  .header__flex_item-left {
    margin-right: 50px;
  }
  .header__title_flex {
    padding-top: 82px;
  }
  .header__title {
    max-width: 290px;
    margin-right: 23px;
    margin-bottom: 22px;
  }
  .header__title_img {
    padding-top: 100px;
  }
  .header__title_img img {
    width: 58.71px;
    height: 58.71px;
  }
  .header__text {
    font-size: 20px;
    max-width: 417px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .header__btn {
    width: 292px;
    height: 80px;
    font-size: 24px;
    border-radius: 5px;
  }
  .header__img {
    width: 460px;
    min-height: 460px;
    background-position: 14px 17px;
  }

  /* Skills */
  
  .skills__title {
    padding-top: 84px;
    margin-bottom: 71px;
  }
  .skills__grid {
    grid-template: 
    "speaking writing reading" 441px
    "speaking listening listening";
    gap: 13px 13px;
    margin-bottom: 120px;
  }
  .speaking {
    padding-top: 0;
    padding-left: 31px;
  }
  .speaking .skills__card_img {
    max-width: 260px;
    min-height: 260px;
    background-position: -7px 0;
    margin-bottom: 26px;
  }
  .speaking .skills_card_content {
    margin-right: 25px;
  }
  .speaking .skills__card_title {
    margin-bottom: 14px;
  }
  .speaking .skills__text {
    font-size: 14px;
    max-width: 249px;
    line-height: 21px;
    margin-bottom: 26px;
  }
  .speaking .skills__btn {
    width: 196px;
    height: 57px;
    font-size: 16px;
    margin-bottom: 53px;
  }
  .writing {
    padding-left: 29px;
  }
  .writing .skills__card_img {
    max-width: 205px;
    min-height: 205px;
    margin-left: 47px;
    background-position: 11px 6px;
    margin-bottom: 2px;
  }
  .writing .skills_card_content {
    margin-right: 28px;
  }
  .writing .skills__text {
    max-width: 244px;    
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
  }
  .reading {
    padding-left: 26px;
  }
  .reading .skills__card_img {
    max-width: 243px;
    min-height: 162px;
    background-position: -23px 8px;
    margin-bottom: 37px;
  }
  .reading .skills_card_content {
    margin-right: 25px;
  }
  .reading .skills__card_title {
    padding-left: 0;
    margin-bottom: 9px;
  }
  .reading .skills__text { 
    max-width: 273px;  
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 23px;
  }
  .reading .skills__btn {
    margin-bottom: 21px;
  }
  .listening { 
    padding-left: 32px;
    padding-top: 0;
  }
  .listening .skills__card_img {
    background-position: -15px 33px;
    max-width: 254px;
    min-height: 169px;
  }
  .listening .skills_card_content {
    padding-top: 30px;
    margin-right: 32px;
  }
  .listening .skills__card_title {
    padding-top: 0;
    margin-bottom: 10px;
  }
  .listening .skills__text {
    font-size: 14px;
    line-height: 21px;
    padding-top: 0;
    margin-bottom: 18px;
  }

  /* About */
  
  .about__grid {
    padding-top: 6px;
    grid-template:
        "about__title about__img" 36px
        "about__content about__img";
  }
  .about__title {
    padding-top: 0;
    margin-bottom: 20px;
  }
  .about__content {
    margin-right: 0;
    max-width: 512px;
  }
  .about__text {
    padding-top: 38px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  .about__content_flex {
    padding-left: 10px;
  }
  .about__card:last-child {
    margin-right: 106px;
  }
  .about__card_number {
    font-size: 30px;
  }
  .about__card_text {
    font-size: 16px;
  }
  .about__img {
    background-position: 43px 14px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 336px;
    min-height: 336px;
    width: 336px;
  }
}
/* Меди запросы 767 */
@media screen and (max-width:767px) {

  /* Контейнер */

  .container {
    max-width: 690px;
  }

  /* Стили для текста */

  .text_h1 {
    font-size: 36px;
    line-height: 45px;
  }
  .text_h2 {
    font-size: 30px;
  }
  .text_h3 {
    font-size: 20px;
  }

  /* стили для кнопки */

  .btn {
    width: 178px;
    height: 50px;
    font-size: 13px;
  }

  /* Header */

  /* Navbar */
  
  .header__navbar {
    padding-top: 41px;
  }
  .header__logo {
    padding-top: 2px;
  }
  .header__menu {
    display: none;
  }
  .header__navbar_btn {
    display: none;
  }
  .header__burger {
    display: block;
    width: 30px;
  }
  .header__burger_line {
    height: 3px;
    background-color: #39515E;
    border-radius: 1px;
    margin-bottom: 4px;
  }
  .header__burger_line:last-child {
    width: 70%;
    margin-bottom: 0;
  }
  /* Ferstscreen */
  .header__flex_item-left {
    margin-right: 0;
  }
  .header__title {
    max-width: 190px;
    margin-right: 37px;
    margin-bottom: 28px;
  }
  .header__title br {
    display: none;
  }
  .header__title_img {
    padding-top: 79px;
  }
  .header__title_img img {
    width: 50.95px;
    height: 50.95px;
  }
  .header__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
  }
  .header__btn {
    width: 236px;
    height: 65px;
    font-size: 18px;
  }
  .header__img {
    background-position: 22px 6px;
    width: 352px;
    min-height: 352px;
  }

  /* Skills */
  
  .skills__title {
    padding-top: 80px;
    margin-bottom: 58px;
  }
  .skills__grid {
    gap: 10px;
    margin-bottom: 70px;
  }
  .speaking {
    width: 224px;
    padding-left: 0;
    padding-top: 31px;
  }
  .speaking .skills__card_img {
    background-position: 1px 0;
    max-width: 214px;
    min-height: 214px;
    margin-bottom: 27px;
  }
  .speaking .skills_card_content {
    padding-left: 18px;
    margin-right: 0;
  }
  .speaking .skills__card_title {
    margin-bottom: 12px;
  }
  .speaking .skills__text {
    max-width: 197px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 21px;
  }
  .speaking .skills__btn {
    width: 178px;
    height: 50px;
    font-size: 13px;
    margin-bottom: 37px;
  }
  .writing {
    padding-left: 0;
    width: 227px;
  }
  .writing .skills__card_img {
    background-position: 2px 15px;
    margin-left: 0;
    max-width: 200px;
    min-height: 200px;
    margin-bottom: 8px;
  }
  .writing .skills_card_content {
    padding-left: 15px;
    margin-right: 0;
  }
  .writing .skills__card_title {
    padding-left: 2px;
    margin-bottom: 8px;
  }
  .writing .skills__text {
    padding-left: 5px;
    max-width: 188px;
    font-size: 13px;
    line-height: 20px;
  }
  .reading {
    padding-left: 0;
    padding-top: 25px;
  }
  .reading .skills__card_img {
    background-position: -3px 9px;
    max-width: 216px;
    min-height: 144px;
    margin-bottom: 34px;
  }
  .reading .skills_card_content {
    padding-left: 18px;
    margin-right: 0;
    width: 228px;
  }
  .reading .skills__text {
    max-width: 201px;
    font-size: 13px;
    line-height: 20px;
  }
  .listening {
    padding-left: 23px;
  }
  .listening .skills__card_img {
    max-width: 202px;
    min-height: 134px;
    background-position: -8px 62px;
  }
  .listening .skills_card_content {
    padding-top: 23px;
    margin-right: 0;
  }
  .listening .skills__card_title {
    margin-bottom: 8px;
  }
  .listening .skills__text {
    font-size: 13px;
    line-height: 20px;
    max-width: 576px;
    margin-bottom: 14px;
  }

  /* About */
  
  .about__content {
    max-width: 320px;
  }
  .about__text {
    padding-top: 19px;
    font-size: 14px;
    line-height: 21px;
  }
  .about__content_flex {
    padding-left: 8px;
    justify-content: space-between;
  }
  .about__card:last-child {
    margin-right: 0;
  }
  .about__card_number {
    font-size: 22px;
    margin-bottom: 14px;
  }
  .about__card_text {
    font-size: 14px;
    line-height: 21px;
  }
  .about__img {
    background-size: contain;
    max-width: 295px;
    min-height: 295px;
    width: 295px;
  }
}

/* Меди запросы 575 */

@media screen and (max-width:575px) {

  /* Контейнер */

  .container {
    max-width: 511px;
  }

  /* Стили для текста */

  .text_h1 {
    font-size: 34px;
  }
  .text_h2 {
    font-size: 30px;
  }
  .text_h3 {
    font-size:18px;
  }

  /* стили для кнопки */

  .btn {
    width: 200px;
    height: 50px;
    font-size: 13px;
  }

  /* Header */

  /* Navbar */

  .header__navbar {
    padding-top: 49px;
  }
  .header__burger {
    width: 42.35px;
    margin-right: 18px;
  }
  .header__burger_line {
    height: 4.24px;
    margin-bottom: 5.65px;
  }

  /* Ferstscreen */
  
  .header__flex {
    flex-direction: column;
  }
  .header__flex_item-left {
    order: 1;
  }
  .header__title_flex {
    padding-top: 11px;
  }
  .header__title {
    margin-right: 0;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 27px;
  }
  .header__title_img {
    display: none;
  }
  .header__text {
    max-width: 100%;
    text-align: center;
    margin-bottom: 36px;
  }
  .header__btn {
    width: 305px;
    height: 75px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
  }
  .header__flex_item-right {
    padding-top: 25px;
  }
  .header__img {
    background-position: 0px -6px;
    margin: 0 auto;
    width: 424px;
    min-height: 424px;
  }

  /* Skills */
  
  .skills__title {
    padding-top: 120px;
    padding-left: 12px;
  }
  .skills__grid {
    grid-template:
        "speaking writing" 534px
        "reading listening" 534px;
    gap: 34px 30px;
    margin-bottom: 100px;
  }
  .speaking {
    width: 240px;
    padding-top: 0;
  }
  .speaking .skills__card_img {
    background-position: 11px -10px;
    max-width: 185px;
    min-height: 185px;
    margin-bottom: 0;
  }
  .speaking .skills_card_content {
    padding-left: 16px;
  }
  .speaking .skills__card_title {
    margin-bottom: 9px;
  }
  .speaking .skills__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 24px;
  }
  .speaking .skills__btn {
    width: 200px;
    height: 50px;
    font-size: 14px;
  }
  .writing {
    width: 240px;
    padding-left: 16px;
  }
  .writing .skills__card_img {    
    background-position: 7px 3px;
    max-width: 182px;
    min-height: 182px;
  }
  .writing .skills_card_content {
    padding-left: 0;
  }
  .writing .skills__card_title {
    margin-bottom: 5px;
    padding-left: 3px;
  }
  .writing .skills__text {   
    padding-left: 5px;
    max-width: 178px; 
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 131px;
  }
  .reading {
    width: 240px;
    padding-top: 22px;
  }
  .reading .skills__card_img {
    background-position: -1px 6px;
    max-width: 198px;
    min-height: 132px;
    margin-bottom: 31px;
  }
  .reading .skills_card_content {
    padding-left: 16px;
  }
  .reading .skills__card_title {
    margin-bottom: 11px;
  }
  .reading .skills__text {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 120px;
  }
  .listening {
    flex-direction: column;
    padding-top: 30px;
    padding-left: 18px;
  }
  .listening .skills__card_img {
    background-position: -3px 6px;
    max-width: 206px;
    min-height: 137px;
  }
  .listening .skills_card_content {
    order: 1;
  }
  .listening .skills__card_title {
    padding-left: 5px;
  }
  .listening .skills__text {
    padding-left: 5px;
    max-width: 197px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 138px;
  }
  
  /* About */
  
  .about__grid {
    grid-template:
        "about__title"
        "about__img"
        "about__content";
  }
  .about__title {
    text-align: center;
  }
  .about__content {
    max-width: 100%;
  }
  .about__text {
    text-align: center;
    max-width: 510px;
    margin-bottom: 45px;
  }
  .about__content_flex {
    padding-left: 53px;
  }
  .about__card:last-child {
    margin-right: 36px;
  }
  .about__card_number {
    font-size: 24px;
    margin-bottom: 9px;
  }
  .about__card_text {
    font-size: 14px;
  }
  .about__img {
    background-position: 2px 25px;
    margin: 0 auto;
    max-width: 352px;
    min-height: 352px;
    width: 352px;
    margin-bottom: 30px;
  }  
}

/* Меди запросы 320 */

@media screen and (max-width:320px) {

  /* Контейнер */

  .container {
    max-width: 296px;
  }

  /* Стили для текста */

  .text_h1 {
    font-size: 24px;
    line-height: 36px;
  }  
  .text_h2 {
    font-size: 24px;
  }
  .text_h3 {
    font-size:18px;
  }

  /* стили для кнопки */

  .btn {
    width: 178px;
    height: 50px;
    font-size: 13px;
  }

  /* Header */

  .header {
  }
  .header__navbar {
  }
  .header__logo {
  }
  .header__menu {
  }
  .header__menu_item {
  }
  .header__navbar_btn {
  }
  .header__burger {
  }
  .header__burger_line {
  }
  .header__ferstscreen {
  }
  .header__flex {
  }
  .header__flex_item-left {
  }
  .header__title_flex {
  }
  .header__title {
  }
  .text_h1 {
  }
  .header__title_img {
  }
  .header__text {
  }
  .text_p {
  }
  .header__btn {
  }
  .btn {
  }
  .header__flex_item-right {
  }
  .header__img {
  }
  .skills {
  }
  .skills__title {
  }
  .text_h2 {
  }
  .skills__grid {
  }
  .skills__card {
  }
  .speaking {
  }
  .skills__card_img {
  }
  .skills__img {
  }
  .skills_card_content {
  }
  .skills__card_title {
  }
  .text_h3 {
  }
  .skills__text {
  }
  .skills__btn {
  }
  .writing {
  }
  .reading {
  }
  .listening {
  }
  .about {
  }
  .about__grid {
  }
  .about__title {
  }
  .about__content {
  }
  .about__text {
  }
  .about__content_flex {
  }
  .about__card {
  }
  .about__card_number {
  }
  .about__card_text {
  }
  .about__img {
  }
  
}